<!-- reject_request.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reject Request</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='accept_reject.css') }}">
</head>
<body>
    <div class="container">
        <h1>Reject Request</h1>
        <p>Are you sure you want to reject this request?</p>
        <form action="/reject_request/{{ request.Request_ID }}" method="POST">
            <button type="submit">Reject</button>
        </form>
    </div>
</body>
</html>
