<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'main_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'uploadsuccess.css') }}"> <!-- Include the new CSS file -->
    <title>Your Web Page</title>
</head>
<body>
    <!-- Your HTML content here -->
    <!-- Display the success message -->
    <div class="success-message">
        File uploaded successfully!
    </div>

    <!-- More HTML content if needed -->

</body>
</html>
